.container__landing {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 66.4vh;  
  overflow: visible;  
}

.background__image {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url("https://storage.cloud.google.com/deathie-pictures/DeathieTShirt1.svg");
background-size: cover;
background-position: center;
z-index: 0;
}
.row__landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.speaker__button {
  border: none;
  background-color: transparent;
  border-color: none;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  margin: 8px 0;
  transition: all 300ms ease;
}

.speaker__para {
  white-space: nowrap;
  color: black;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 300ms ease;
}

.speaker__button:hover, .speaker__para:hover {
  transform: translateY(-2px); 
}

.mail__btn {  
        width: 70px;
        height: 70px;
        font-size: 32px;
        border-radius: 70%;
        border: none;
        background-color: #242424;
        color: white;
        position: absolute;
        bottom: 40px;
        right: 195px;
        transition: all 300ms ease;
}

.mail__btn:hover {
  transform: translateY(-3px); 
}

.flashing-text {
  animation: colorFlash 3s infinite;
  font-weight: bold;
}

@keyframes colorFlash {
  0%   { color: purple; }
  25%  { color: orange; }
  50%  { color: yellow; }
  75%  { color: green; }
  100% { color: blue; }
}


@media (max-width: 484px) {
.mail__btn { 
  position: absolute;
  bottom: 50px;
  right: 195px;
}

}

@media (max-width: 460px) {
.mail__btn { 
  position: absolute;
  bottom: 50px;
  right: 150px;
}

}

/* This is here just in case you need it
<img src="./DeathieTheLogo.svg" alt="" className="landing__pictures" /> 

  <button className="mail__btn">
      <MdEmail />
      </button>


*/
